<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ogre3d" version="1.8.3" targetFramework="native" />
  <package id="ogre3d.redist" version="1.8.3" targetFramework="native" />
  <package id="ois" version="1.3.0" targetFramework="native" />
  <package id="ois.redist" version="1.3.0" targetFramework="native" />
</packages>